#games{
  padding:15px;
  background-image: url(https://i.pinimg.com/originals/0d/50/d2/0d50d2d1e80569a96752a9838cf6c6ed.jpg);
}
#stage {
  width: 700px;
  height: 400px;
  background-color: gray;
  position: relative;
  background-image: url(../img/preview.jpg);
  overflow: hidden;
  margin:10px auto;
}
